<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>FOLIO</title>
</head>
<body class="m-0 p-0 bg-light" style="font-family: 'Roboto', sans-serif;">
 
    <nav style="background-color: #0D2D52; " class="p-2" >
        <div id="nav" class="d-flex justify-content-between pt-3 bg-darken " style="max-width:1600px; margin: auto; ">
            <h6 class="text-light" style="font-weight:lighter">+4676 31 226 951</h6>
        <h6 class="text-light" style="font-weight:lighter">kai@gmail.com</h6>
        <div class="d-flex justify-content-between">
            <button class="bg-transparent text-light" style="border:none; outline:none;"><i class="fa-solid fa-moon"></i></button>
            <select class="bg-transparent text-light ml-6" style="border:none;">
                <option>
                  ENGLISH
                </option>
                <option>
                  SWEDISH
                </option>
              </select>
        </div>
        </div>
        
    </nav>
    <header class="text-darken d-flex container  justify-content-between align-items-center pt-3">
        <div class="">
            <ul class="d-flex justify-content-between">
                <li class="list-unstyled "><a class="text-darken text-decoration-none p-3" href="#" style="border-width: thin; border-bottom: 1px solid #000; color: #000;">PROJECTS</a></li>
                <li class="list-unstyled"><a class="text-darken text-decoration-none  p-3 " style=" color: #000" href="#">SERVICE</a></li>
                <li class="list-unstyled"><a  class="text-darken text-decoration-none p-3" style=" color: #000" href="#">BlOG</a></li>
            </ul>
        </div>
        <h1 style="font-weight:bolder; color: #0D2D52;">FOLIO</h1>
        <div>
            <ul class="d-flex justify-content-between">
                <li class="list-unstyled"><a class="text-darken text-decoration-none p-3 href="#"><i class="fa-brands fa-github" style="color: #002566; font-size: 30px;"></i></a></li>
                <li class="list-unstyled"><a class="text-darken text-decoration-none  p-3 href="#"><i class="fa-brands fa-square-twitter" style="color: #018df9; font-size: 30px;"></i></a></li>
                <li class="list-unstyled"><a  class="text-darken text-decoration-none p-3" href="#"><i class="fa-brands fa-linkedin" style="color: #065ff9; font-size: 30px;"></i></a></li>
            </ul>
        </div>
        
    </header>

    <main>
        <div class="container row" style="max-width: 1900px; margin: auto; margin-top: 50px; margin-bottom: 50px;">
            <div class="text-darken p-6 col-6 container" style="max-width: 500px; margin: auto; margin-top: 50px;">
                <h1 class=" text-xl-left" style="font-size: 70px; font-weight:bold; color: #0D2D52;">WELCOME TO MY DOMAIN</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Pariatur in, repellendus non numquam hic qui doloribus a
                    speriores maiores eaque tenetur quos aut. Quia recusandae 
                    eligendi soluta, rerum eum dolor ad harum inventore cum est 
                    
                </p>
                <div class="d-flex container">
                    <button style="align-items: center; color: #0D2D52; width: 120px; border:none; border-bottom:1px solid #fff " class="text-darken d-flex justify-content-between fa-bounce bg-transparent"><h6 style="font-size:15px;">READ MORE</h6> <i style="font-size: 10px;" class="fa-solid fa-chevron-right mb-2"></i></button>
                </div>
            </div>
            
            <div class="col-6">
                <img 
                id="img" 
                src="https://www.iss.nus.edu.sg/images/default-source/default-album/software-dev.jpg?Status=Master&sfvrsn=aa8aa05f_0" 
                alt="Developer" 
                style=" width: auto; border-radius: 20px; height: 400px; margin-top: 20px; margin-left: 100px; filter: brightness(90%);"
                >
            </div>
        </div>
        <div class="" style="background-color: #0D2D52">
            <div class="container" style="display: flex; justify-content:center; align-items: center;">
                <img src="./road (2).jpg" style="width:10;  height:auto;" alt="">
            </div>
        </div>
    </main>
    <script src="./function/main.js"></script>
</body>
</html>